{% extends 'base.html.twig' %}

{% block title %}Agathe Bevia{% endblock %}

{% block body %}

<div class="home-landing" id="test" style="background-image: url('{{ asset("photos/photo66.jpg") }}');">
    <span class="transitioner"></span>
    <div class="arrow-container">
        <div class="left-container">
            <img src="{{ asset("img/arrow_left_white.png") }}" alt="">
        </div>
        <div class="right-container">
            <img src="{{ asset("img/arrow_right_white.png") }}" alt="">
        </div>
    </div>
</div>

{% for photo in photos %}
<img src="{{ asset("photos/#{photo.img}") }}" alt="" class="photo">
{% endfor %}

<script defer>
    const leftArrow = document.querySelector('.left-container');
    const rightArrow = document.querySelector('.right-container');
    const landing = document.querySelector('.home-landing');
    const transitioner = document.querySelector('.transitioner');
    const test = document.getElementById('test');
    let compteurCarousel = 0;

    console.log(test)
    console.log('test')
    rightArrow.addEventListener('click', function(){
        
        
        if(compteurCarousel===0){
        landing.style.backgroundImage = 'url({{ asset("photos/photo56.jpg") }})';
        }if (compteurCarousel===1) {
            landing.style.backgroundImage = 'url({{ asset("photos/photo6.jpg") }})';
        } if (compteurCarousel===2) {
            landing.style.backgroundImage = 'url({{ asset("photos/photo55.jpg") }})';
        } if(compteurCarousel===3) {
            landing.style.backgroundImage = 'url({{ asset("photos/photo66.jpg") }})';
        }

        if(compteurCarousel===3){
            compteurCarousel=0;
        }else{
            compteurCarousel +=1;
        }  
    })
</script>

{% endblock %}


