<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        

        {# font : #}
        <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet"> -->

        <link href="https://fonts.cdnfonts.com/css/helvetica-neue-9" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
                
        
        <link rel="stylesheet" href="{{ asset('css/styles.mobile.css') }}">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js" integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js" defer></script>
            <script src="{{ asset("js/home.js") }}" defer></script>
            <script src="{{ asset("js/nav.js") }}" defer></script>
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-content">
                    <div class="nav-title">
                        <a href="{{ path('app_accueil') }}">
                            <p>Agathe Bevia</p>
                        </a>
                    </div>
                    <div class="nav-hamburger">
                        <div class="hamburger">
                            <div class="hamburger-line hamburger-line1"></div>
                            <div class="hamburger-line hamburger-line2"></div>
                            <div class="hamburger-line hamburger-line3"></div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="hamburger-volet">
                <div class="hamburger-menu hamburger-menu1">
                    <a href="">Accueil</a>
                    <a href="{{path('app_argentique')}}">Argentique</a>
                    <a href="">Catégorie 2</a>
                    <a href="">Catégorie 3</a>
                    <a href="">Catégorie 4</a>
                    <a href="">Catégorie 5</a>
                </div>
                <div class="hamburger-menu hamburger-menu2">
                    <a href="">Contact</a>
                    <a href="{{path('admin')}}">Accès admin</a>
                </div>
            </div>
        </header>
        {% block body %}{% endblock %}
        <footer>
            <div class="footer-row footer-row-socials">
                <p>Me suivre</p>
                <div class="footer-socials">
                    <a href="https://www.instagram.com/agathebevia/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.facebook.com/agathebevia" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/in/agathe-bevia-5b1b3b1b3/" target="_blank"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
            <div class="footer-row footer-row-contact">
                <p>ME CONTACTER</p>
                    <a href="mailto:exemple@exemple.fr">
                        <i class="fas fa-envelope"></i>
                    </a>
                </div>
            </div>
            <div class="footer-row footer-row-mentions">
                <p>Mentions légales</p>
            </div>
        </footer>
    </body>
    {# test #}
</html>
