<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        

        {# font : #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="{{ asset('css/styles.mobile.css') }}">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js" integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
            <script src="{{ asset("js/home.js") }}" defer></script>
            <script src="{{ asset("js/nav.js") }}" defer></script>
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="waviy">
                    <span style="--i:1">A</span>
                    <span style="--i:2">G</span>
                    <span style="--i:3">A</span>
                    <span style="--i:4">T</span>
                    <span style="--i:5">H</span>
                    <span style="--i:6">E</span>
                    <span style="--i:7"> </span>
                    <span style="--i:8">B</span>
                    <span style="--i:9">E</span>
                    <span style="--i:10">V</span>
                    <span style="--i:11">I</span>
                    <span style="--i:12">A</span>
            </div>
            <nav role="navigation">
                {# <div class="navName">AGATHE BEVIA</div> #}
                
            <div id="menuToggle">
                    <input type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
                    <ul id="menu">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Info</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="{{path('admin')}}">Admin</a></li>
                    </ul>
            </div>
          </nav>
        </header>
        {% block body %}{% endblock %}
    </body>
    {# test #}
</html>
